#wrapper {
    width: 100%;
}
#page-wrapper {
    padding:7em 2em 2.5em;
	background-color: #F1F1F1;
}
.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}
.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}
.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
	margin-bottom: 0;
}

.sidebar .nav-second-level li a {
    padding-left: 53px;
    font-size: .9em;
}
.sidebar .nav-third-level li a {
    padding-left: 52px;
}
@media(min-width:768px){
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

/*--Modificaçoes --*/


/*--Ocultar o menu com resolucao pequenas --*/
@media(max-width:1025px){
.logo a {
    padding: 1.1em 1.3em .7em;
}
.logo a h1 {
    font-size: 1.2em;
    line-height:1em;
}
.logo a span {
    font-size: .6em;
}
li.dropdown.head-dpdn a.dropdown-toggle {
    padding: 1em 1.4em;
}
button#showLeftPush {
    padding: 0.73em 0;
}
.sb-search-input {
    font-size: 0.8em;
    padding: 0.5em;
}
.search-box {
    width: 36%;
    margin: 1em 0 0 2em;
}
li.dropdown.head-dpdn {
    padding: 1.5em 0;
}
li.dropdown.head-dpdn a.dropdown-toggle {
    padding: 1.5em 1.6em 1.5em 1.2em;
}
.profile_details_drop a.dropdown-toggle {
    padding: 0.6em 2em 0 1em;
}
.profile_details li a i.fa.lnr {
    top: 28%;
}
.cbp-spmenu-vertical {
    padding: 1em 0;
    width: 301px;
    top: 69px;
}
.cbp-spmenu-push div#page-wrapper {
    margin: 0;
}
.cbp-spmenu-left.cbp-spmenu-open {
    left:0
}
.cbp-spmenu-vertical {

    left: -309px;
}
.activity-desc-sub:before {
    left: -3.4%;
}
.activity-desc-sub1:after {
    right: -3.1%;
}
.sticky-header .header-section {
    height: 70px !important;
}
}



/*--Modificaçoes nos formularios e tabelas de pesquisas--*/
.formulario{
    padding-right: 45px !important; 
}

.formulario h3{
    margin-top: 20px; 
    margin-bottom: 20px;
}

.formulario .row{
    margin: 0px !important;
}

.formulario input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.formulario input, .main-page select, .main-page textarea{
    width: 100% !important;
    padding: 5px !important;
}
.formulario input[disabled], .main-page select[disabled]{
    background-color: #c6c6c6 !important;
}

.formulario label{
    padding-left: 0px !important;
    
}

.formulario table{
    border: 0 !important;
}

.formulario .table{
    margin-left: 0 !important;
    width: auto !important;
    max-width: 1000px !important;
}

.formulario tbody tr{
    border-bottom: 1px solid #A8A8A8 !important;
    line-height: 20px !important;
}

.formulario tbody tr:nth-child(odd){
    background-color:#F7F7F7 !important;
}

.formulario tbody tr:hover{
    background-color:#e8f8f5 !important;
}

.formulario table tr td{
    width: auto!important;
    text-align: center;
  
}

.formulario .btn-alterar:hover{
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    padding: 1px 5px;
}

.formulario .btn-desativar:hover{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    padding: 1px 5px;
}