*{
    margin: 0;
    padding: 0;
}

body{
    width: 100% !important;
    font-size: 14px;
}

.sticky-header, .sidebar, button, .btn, br {
    display: none !important;
}

fieldset{
    border: 0;
    width: 100%
}


.main-page{
    width: 100% !important;
}


